body {
  background-color: #f7f9fa;
}
.player-card {
  margin-top: 50px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;

  &__header {
    padding: 10px;
  }

  &__menu {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    background-color: #eaeaea;
    border: none;
  }

  &__details {
    &__player {
      display: block;
    }
    &__content {
      position: relative;
      background-color: #ec0150;
      padding: 15px;
    }
    &__title {
      margin-top: 0;
    }

    &__sub-title {
      margin-top: 5px;
    }

    &__title,
    &__sub-title {
      color: #fff;
      margin-bottom: 0;
    }
  }

  &__stats {
    margin-top: 20px;
    &__stat {
      background-color: #eaeae9;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 3px;
    }

    &__stat:last-child {
      margin-bottom: 0;
    }

    &__name,
    &__value {
      margin: 0;
    }
    &__value {
      color: #2b0d30;
      font-weight: bold;
    }
  }

  &__badge {
    background-image: url("~/images/badges_sprite.png");
    background-repeat: no-repeat;
    height: 105px;
    width: 104px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 21px;
    top: -43px;
    &--spurs {
      background-position: -500px -1000px;
    }
    &--arsenal {
      background-position: -97px -96px;
    }
    &--manutd {
      background-position: -597px -797px;
    }
    &--leicester {
      background-position: 2px 4px;
    }
    &--mancity {
      background-position: -797px -697px;
    }
  }
}
